page-home {
    .tiles {
		.tile {
			.item {
				padding: 0;
			}

			.item-inner {
				padding: 0;
			}

			h2 {
				text-align: center;
			}

			h1 {
				text-align: center;
				padding-bottom: 10px;
			}
		}
	}
}
